body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#tulos {
    margin-top: 20px;
    font-size: 1.2em;
}